:root {
  --dark-color: #002855;
  --secondary-dark-color: #5d7999;
  --medium-color: #1980b3;
  --secondary-medium-color: #b8c9db;
  --light-color: #dfe5ed;
  --secondary-light-color: #f2f5f7;
  --alert-color: #a0270a;
  --accent-color: #fae196;
  --white-color: #ffffff;

  --font-size: 1em; /* same as the browser default font size, often 16px */
  --font-family: 'Public Sans', sans-serif;
  --font-family-heading: 'EB Garamond', serif;
}

body {
  color: var(--dark-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.container {
  max-width: 800px;
}

#suggestion-form a {
  color: var(--medium-color);
  font-weight: bold;
}

#suggestion-form label {
  margin-bottom: 0.5rem;
}

#suggestion-form input[type=text] {
  overflow: hidden;
  width: 100%;
  color: var(--dark-color);
  margin-bottom: 1rem;
  padding: 0.5rem;
  padding-right: 2.5rem;
}

#suggestion-form input[type="radio"] {
    accent-color: var(--dark-color);
}

#suggestion-form input:focus {
  outline: none;
}

#suggestion-form input::placeholder {
  color: var(--secondary-dark-color);
}

#suggestion-form textarea {
  width: 100%;
  color: var(--dark-color);
  margin-bottom: 1rem;
  padding: 0.5rem;
  padding-right: 2rem;
}

#suggestion-form textarea:focus {
  outline: none;
}

#suggestion-dialog-top {
  padding: 1rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  cursor: move;
}

#suggestion-dialog-top i {
  font-size: 1.5rem;
}

#suggestion-dialog-top .fa-xmark {
  cursor: pointer;
}

#suggestion-title {
  font-weight: bold;
}

#suggestion-subtitle {
  color: var(--secondary-dark-color);
  margin-bottom: 3rem;
}

#suggestion-vocab-wrapper {
  margin-bottom: 0.5rem;
  font-size: 0;
}

#suggestion-vocab-wrapper label {
  appearance: none;
  cursor: pointer;
  margin-right: 0.5rem;
  padding-left: 0.25rem;
  font-size: initial;
}

#suggestion-vocab-wrapper input {
  cursor: pointer;
}

#suggestion-vocab-wrapper input:checked {
  background-color: var(--medium-color);
  border-color: var(--dark-color);
}

.suggestion-input-label {
  display: block;
  font-weight: bold;
}

.suggestion-input {
  border: none;
  background-color: var(--light-color);
}

.suggestion-clear-input {
  position: relative;
  cursor: pointer;
}

.suggestion-clear-input i {
  position: absolute;
  top: -43px;
  right: 15px;
}

.suggestion-clear-textarea i {
  top: 13px !important;
}

.suggestion-term-label {
  color: var(--secondary-dark-color);
  font-weight: bold;
}

.suggestion-chip-list {
  margin-bottom: 0.5rem;
}

.suggestion-chip {
  position: relative;
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 10px 30px 10px 10px;
  margin-right: 0.25rem;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.suggestion-chip i {
  position: absolute;
  top: 15px;
  right: 10px;
}

.suggestion-search-wrapper {
  position:relative;
}

.suggestion-search-wrapper ul {
  inset: 38px auto auto 0px !important;
  width: 100%;
  padding: 0;
}

.suggestion-dropdown {
  width: 100%;
}

.suggestion-dropdown button {
  border: none;
  border-radius: 0;
  background-color: var(--light-color);
  color: var(--secondary-dark-color);
  text-align: left;
  height: 40px;
  margin-bottom: 1rem;
}

.suggestion-dropdown button:hover, .suggestion-dropdown button:active, .suggestion-dropdown button:focus-visible, .suggestion-dropdown button.show {
  background-color: var(--light-color) !important;
  color: var(--secondary-dark-color) !important;
}

.suggestion-dropdown button::after {
  content: none;
}

.suggestion-dropdown i.fa-chevron-down {
  position: absolute;
  right: 13px;
  top: 12px;
  z-index: 2;
  pointer-events: none;
}

.suggestion-dropdown ul {
  inset: 38px auto auto 0px !important;
  border: 1px solid var(--light-color);
  border-radius: 0;
  padding: 0;
  width: 100%;
  max-height: 226px;
  overflow-y: scroll;
}

.suggestion-dropdown a {
  color: var(--dark-color) !important;
}

.suggestion-dropdown a:hover {
  background-color: var(--secondary-light-color);
}

.suggestion-dropdown a:active {
  background-color: var(--secondary-dark-color);
}

#suggestion-handling {
  color: var(--secondary-dark-color);
  margin-bottom: 5rem;
}

#suggestion-form-submit button {
  border: none;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-weight: bold;
  padding: 0.5rem 1rem;
}

/* Setting scrollbar style separately in Firefox */
@-moz-document url-prefix() {
  #suggestion-content {
    scrollbar-color: var(--secondary-dark-color) var(--secondary-light-color);
  }

  #suggestion-content textarea {
    scrollbar-color: var(--secondary-dark-color) var(--light-color);
  }
} 

/* Setting scrollbar styles for Webkit based browsers (Chrome, Safari, Edge, etc) */
#suggestion-content::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
}

#suggestion-content::-webkit-scrollbar:vertical {
    width: 15px;
}

#suggestion-content::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border: 1px solid var(--secondary-dark-color);
    background-color: var(--secondary-dark-color);
}

#suggestion-content::-webkit-scrollbar-track { 
    background-color: var(--secondary-light-color); 
    border-radius: 0px; 
}

#suggestion-form textarea::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
}

#suggestion-form textarea::-webkit-scrollbar:vertical {
    width: 5px;
}

#suggestion-form textarea::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border: 1px solid var(--secondary-dark-color);
    background-color: var(--secondary-dark-color);
}

#suggestion-form textarea::-webkit-scrollbar-track { 
    background-color: var(--light-color); 
    border-radius: 0px; 
}

#suggestion-content .dropdown-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
}

#suggestion-content .dropdown-menu::-webkit-scrollbar:vertical {
    width: 15px;
}

#suggestion-content .dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border: 1px solid var(--secondary-dark-color);
    background-color: var(--secondary-dark-color);
}

#suggestion-content .dropdown-menu::-webkit-scrollbar-track { 
    background-color: var(--secondary-light-color); 
    border-radius: 0px; 
}
